.rule-area{
    width: 50rem;
    height: 30rem;
    background-color: var(--background-gray);
    border-radius: var(--radius-sm);
    padding: var(--space-md);
}

.txt-important{
    color: var(--pastel-yellow);
}

.rules-cta{
    gap: var(--space-md);
}

.rules-cta>button{
    width: 15rem;
    border: none;
    border-radius: 0%;
    background-color: var(--pastel-red);
}

.rules-cta>button:nth-child(2){
    background-color: var(--pastel-green);
}